.form {
display: flex;
margin-top: 12px;

}

.input {
width: 100%;
background-color: transparent;
border: 1px solid;
border-radius: 30px;
padding: 10px 64px 10px 24px;
font-size: 16px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.input::placeholder {
    color: gainsboro;
}

.btn {
background-color: transparent;
border-radius: 30px;
padding: 10px 16px 10px 16px;
font-size: 16px;
border: none;
}

.btn:hover,
.btn:focus {
    color: rgb(122, 152, 185);
}