.navigation {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
  }
  
  .link {
    font-size: 18px;
    font-weight: 600;
    color: rgb(27, 32, 38);
  }

  .link:hover {
    color: rgb(10, 34, 48);
  }

  .isActive {
    position: relative;
    color: rgb(149, 177, 207);
  }

  .isActive::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    height: 3px;
    background-color: rgb(27, 32, 38);

  }