.loadBtn {
    display: block;
    margin: 0 auto 36px;
    width: 120px;
    height: 42px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    transition: transform var(--td) var(--ttf);
  }
  
  .loadBtn:hover {
    transform: translateY(-10%);
  }